.primary-button{

    background-color: var(--color-second);
    text-decoration: none;
    color: var(--color-primary);
    border-radius: 10px;
}
.primary-button.-dark{
    color: var(--color-base);
    font-family: 'Bitter', serif;
}